//base styles
* {
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    font-family: 'Roboto-Regular', sans-serif;
    line-height: 1.2;
    color: $color-text;
    overflow-x: hidden;
    @extend %padding-margin-reset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %padding-margin-reset;
}

ul,
ol {
    @extend %padding-margin-reset;
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-text;
}

p {
    @extend %padding-margin-reset;
    // color: $color-text;
}

input,
button {
    @extend %border-outline-none;
    @extend %padding-margin-reset;
    font-family: 'Roboto-Regular', sans-serif;
}

.border_orange, .border_green {
    text-decoration: underline;
}

.border_orange {text-decoration-color: #ff6b00;}
.border_green {text-decoration-color: #a7c93d;}
.text_dark {color: #000000; font-weight: 700;}
.text_green {color: #9dbd39;}
.text_red {color: #ff6b00;}