/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "ArialMT";

  src: url("./fonts/ArialRegular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/ArialRegular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}