.bonuses {
    @include flex(flex, row, center, stretch, wrap);
    width: $full-size;
    background-color: $color-bubblegum;

    &_wrapper {
        @extend %wrapper-centered;
        @include flex(flex, row, flex-start, center, wrap);
        margin-top: distance-percent(150px, 1600px);
        margin-bottom: distance-percent(150px, 1600px);
        max-width: $max-width;
    }

    &__list {
        @include flex(flex, row, space-between, stretch, wrap);

        @include mobile {
            @include flex(flex, column, space-between, center, wrap);
        }
    }
}

.bonus {
    &__item {
        @include flex(flex, row, space-between, stretch, nowrap);
        background-color: $color-white;
        padding: distance-percent(30px, 1140px);
        width: distance-percent(555px, 1140px);

        @include mobile {
            width: $full-size;
            margin-bottom: distance-percent(50px, 1140px);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__icon {
        width: distance-percent(70px, 495px);

        @include laptop-lg {
            width: distance-percent(70px, 495px);
        }

        @include laptop-md {
            width: distance-percent(85px, 495px);
        }

        @include laptop-sm {
            width: distance-percent(85px, 495px);
        }

        @include tablet {
            width: distance-percent(100px, 495px);
        }

        @include mobile {
            width: distance-percent(100px, 495px);
        }
    }

    &__image {
        width: $full-size;
    }

    &__description {
        @include flex(flex, column, space-between, stretch, nowrap);
        width: distance-percent(400px, 495px);

        @include laptop-lg {
            width: distance-percent(400px, 495px);
        }

        @include laptop-md {
            width: distance-percent(385px, 495px);
        }

        @include laptop-sm {
            width: distance-percent(385px, 495px);
        }

        @include tablet {
            width: distance-percent(370px, 495px);
        }

        @include mobile {
            width: distance-percent(370px, 495px);
        }
    }

    &__title {
        margin-bottom: distance-percent(23px, 400px);
        font-size: $font-size-24px; //no standard

        @include laptop-lg {
            font-size: $font-size-22px;
        }

        @include laptop-md {
            font-size: $font-size-20px;
        }

        @include laptop-sm {
            font-size: $font-size-16px;
        }

        @include tablet {
            font-size: $font-size-15px;
        }

        @include mobile {
            font-size: $font-size-24px;
        }
    }

    &__text {

        //no standard
        @include laptop-lg {
            font-size: $font-size-14px;
        }

        @include laptop-md {
            font-size: $font-size-13px;
        }

        @include laptop-sm {
            font-size: $font-size-11px;
        }

        @include tablet {
            font-size: $font-size-10px;
        }

        @include mobile {
            font-size: $font-size-14px;
        }
    }
}