.team {
    @include flex(flex, row, center, stretch, wrap);
    background-color: $color-bubblegum;
    width: $full-size;
    text-align: $text-centered;

    &_wrapper {
        @extend %wrapper-centered;
        @include flex(flex, column, space-between, center, wrap);
        margin-top: distance-percent(130px, 1600px);
        margin-bottom: distance-percent(100px, 1600px);
        max-width: $max-width;
    }

    &__title {
        color: $color-white;
        margin-bottom: distance-percent(100px, 1140px);
        font-size: $font-size-48px;

        @include laptop-lg {
            font-size: $font-size-40px;
        }

        @include laptop-md {
            font-size: $font-size-32px;
        }

        @include laptop-sm {
            font-size: $font-size-28px;
        }

        @include tablet {
            font-size: $font-size-22px;
        }

        @include mobile {
            font-size: $font-size-36px;
        }
    }

    &__slider {
        @include flex(flex, row, space-between, center, wrap);
        width: $full-size;
    }
}

.slide {
    @include flex(flex, column, flex-start, center, nowrap);
    display: flex !important;
    background-color: $color-white;
    box-shadow: 1px 5px 11px 1px rgba(192, 16, 79, 0.5);
    border-radius: $font-size-10px;
    margin-top: distance-percent(40px, 360px);
    margin-bottom: distance-percent(60px, 360px);
    transition-duration: 0.3s;

    &:hover {
        transform: scale(1.05);
    }

    &__image {
        border-top-left-radius: $font-size-10px;
        border-top-right-radius: $font-size-10px;
        margin-bottom: distance-percent(35px, 360px);
    }

    &__name {
        color: $color-text-dark;
        margin-bottom: distance-percent(15px, 360px);
        font-size: $font-size-24px;

        @include laptop-lg {
            font-size: $font-size-22px;
        }

        @include laptop-md {
            font-size: $font-size-20px;
        }

        @include laptop-sm {
            font-size: $font-size-18px;
        }

        @include tablet {
            font-size: $font-size-16px;
        }

        @include mobile {
            font-size: $font-size-24px;
        }
    }

    &__position {
        color: $color-text-dark;
        margin-bottom: distance-percent(20px, 360px);

        @include laptop-lg {
            font-size: $font-size-14px;
        }

        @include laptop-md {
            font-size: $font-size-13px;
        }

        @include laptop-sm {
            font-size: $font-size-12px;
        }

        @include tablet {
            font-size: $font-size-11px;
        }

        @include mobile {
            font-size: $font-size-14px;
        }
    }
}