/* colors */
$color-text: #726c74;
$color-text-grey: #9b9b9b;
$color-text-dark: #4e5665;

$color-search-text: #888888;
$color-search-text-highlighted: #565656;

$color-footer-text: #a7c2dd;
$color-footer-text-grey: #567392;
$color-footer-title: #668099;

$color-background-grey: #f8f8f8;

$color-blue: #2387f5;


/* sizes */


/* font-properties */


/* numerical properties */