.header {
    @include flex(flex, column, center, stretch, nowrap);
    width: $full-size;
    text-align: $text-centered;

    &__navbar-section {
        @include flex(flex, row, space-between, center, wrap);
        background-color: $color-background-grey;
        width: $full-size;

        &_wrapper {
            @extend %wrapper-centered;
            max-width: $max-width;
            @include flex(flex, row, space-between, center, wrap);

            @include mobile {
                @include flex(flex, column, space-between, center, wrap);
            }
        }
    }

    &__search-section {
        @include flex(flex, row, space-between, center, wrap);
        background: url('../../assets/images/daniel-von-appen-258076.png') no-repeat center center;
        background-size: cover;
        max-width: $full-size;

        &_wrapper {
            @extend %wrapper-centered;
            max-width: $max-width;
            @include flex(flex, column, space-between, center, wrap);
            margin-top: distance-percent(175px, 1600px);
            margin-bottom: distance-percent(80px, 1600px);
        }
    }
}

.logo {
    @include flex(flex, row, space-around, center, nowrap);
    width: distance-percent(200px, 1140px);
    position: relative;
    font-size: $font-size-36px;

    @include laptop-lg {
        font-size: $font-size-30px;
    }

    @include laptop-md {
        font-size: $font-size-24px;
    }

    @include laptop-sm {
        font-size: $font-size-20px;
    }

    @include tablet {
        font-size: $font-size-16px;
    }

    @include mobile {
        font-size: $font-size-36px;
        width: $full-size;
    }

    &:hover {
        background: darken($color-background-grey, 3%);
    }

    &_wrapper {
        @include flex(flex, row, space-between, center, nowrap);
        width: distance-percent(160px, 200px);

        @include mobile {
            width: distance-percent(80px, 200px);
        }
    }

    &__icon {
        width: distance-percent(42px, 160px);
        height: distance-percent(42px, 160px);
    }

    &__text {
        text-transform: uppercase;
        font-stretch: condensed;
    }

    &__link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.main-nav {
    &__toggle {
        display: none;
        cursor: pointer;
        color: $color-text-dark;
        background-color: transparent;
        padding: $font-size-14px; //no standard

        @include laptop-lg {
            padding: $font-size-13px;
        }

        @include laptop-md {
            padding: $font-size-12px;
        }

        @include laptop-sm {
            padding: $font-size-11px;
        }

        @include tablet {
            padding: $font-size-9px;
        }

        @include mobile {
            padding: $font-size-14px;
            display: block;
            width: $full-size;
            order: 1;
        }

        &:hover {
            background: darken($color-background-grey, 3%);
        }
    }

    &__list {
        @include flex(flex, row, space-between, center, nowrap);
        min-width: distance-percent(700px, 1140px);

        @include mobile {
            @include flex(flex, column, space-between, center, nowrap);
            width: $full-size;
            order: 1;
        }
    }

    &__item {
        @include flex(flex, row, center, center, nowrap);
        padding: $font-size-14px; //no standard

        @include laptop-lg {
            padding: $font-size-13px;
        }

        @include laptop-md {
            padding: $font-size-12px;
        }

        @include laptop-sm {
            padding: $font-size-11px;
        }

        @include tablet {
            padding: $font-size-9px;
        }

        @include mobile {
            padding: $font-size-14px;
            width: $full-size;
            border-radius: 0;
        }

        border-radius: $font-size-8px;
        cursor: pointer;

        &:hover {
            background: darken($color-background-grey, 3%);
        }

        &_free-trial {
            @include flex(flex, row, center, center, nowrap);
            background-color: $color-bubblegum;
            border-radius: $font-size-24px;

            @include mobile {
                border-radius: 0;
            }

            &:hover {
                background: lighten($color-bubblegum, 10%);
            }
        }
    }

    &__link {
        @include flex(flex, row, space-between, center, nowrap);
        color: $color-text-dark;
        font-size: $font-size-14px; //no standard

        @include laptop-lg {
            font-size: $font-size-13px;
        }

        @include laptop-md {
            font-size: $font-size-12px;
        }

        @include laptop-sm {
            font-size: $font-size-11px;
        }

        @include tablet {
            font-size: $font-size-10px;
        }

        @include mobile {
            font-size: $font-size-14px;
        }

        &_free-trial {
            color: $color-white;
        }
    }
}

.side-nav {
    &__menu {
        position: fixed;
        @include flex(flex, column, flex-start, stretch, nowrap);
        background-color: $color-background-dark;
        height: 100%;
        width: 15%;
        min-width: 120px;
        left: 0;
        top: 0;
        text-align: start;
        z-index: 10;

        @include mobile {
            border-radius: 0;
        }
    }

    &__toggle {
        background-color: transparent;
        color: $color-text-dark;
        border-radius: $font-size-8px;
        cursor: pointer;
        padding: $font-size-12px; //no standard
        font-size: $font-size-32px; //no standard

        @include laptop-lg {
            padding: $font-size-11px;
            font-size: $font-size-28px;
        }

        @include laptop-md {
            padding: $font-size-10px;
            font-size: $font-size-24px;
        }

        @include laptop-sm {
            padding: $font-size-9px;
            font-size: $font-size-20px;
        }

        @include tablet {
            padding: $font-size-7px;
            font-size: $font-size-16px;
        }

        @include mobile {
            font-size: $font-size-32px;
            width: $full-size;
        }

        &:hover {
            background: darken($color-background-grey, 3%);
        }
    }

    &__list {
        @include flex(flex, column, space-between, center, nowrap);
    }

    &__item {
        @include flex(flex, column, space-between, center, nowrap);
        width: $full-size;
        padding: $font-size-16px;

        @include laptop-lg {
            padding: $font-size-15px;
        }

        @include laptop-md {
            padding: $font-size-14px;
        }

        @include laptop-sm {
            padding: $font-size-13px;
        }

        @include tablet {
            padding: $font-size-12px;
        }

        @include mobile {
            padding: $font-size-16px;
        }

        cursor: pointer;

        &:hover {
            background-color: lighten($color-background-dark, 10%);
        }
    }

    &__link {
        width: $full-size;
        text-align: $text-centered;
        color: $color-white;
        font-size: $font-size-14px; //no standard

        @include laptop-lg {
            font-size: $font-size-13px;
        }

        @include laptop-md {
            font-size: $font-size-12px;
        }

        @include laptop-sm {
            font-size: $font-size-11px;
        }

        @include tablet {
            font-size: $font-size-10px;
        }

        @include mobile {
            font-size: $font-size-14px;
        }
    }
}

.slogan {
    line-height: $line-height-smaller;
    color: $color-white;
    min-width: distance-percent(830px, 1140px);
    margin-bottom: distance-percent(60px, 1140px);
    font-size: $font-size-48px;

    @include laptop-lg {
        font-size: $font-size-40px;
    }

    @include laptop-md {
        font-size: $font-size-32px;
    }

    @include laptop-sm {
        font-size: $font-size-28px;
    }

    @include tablet {
        font-size: $font-size-22px;
    }

    @include mobile {
        font-size: $font-size-36px;
    }
}

.input-field {
    @include flex(inline-flex, row, flex-start, stretch, nowrap);
    width: distance-percent(735px, 1140px);

    @include mobile {
        @include flex(flex, column, center, stretch, nowrap);
        width: $full-size;
    }

    margin-bottom: distance-percent(220px, 1140px);

    &__search {
        width: distance-percent(600px, 735px);
        font-size: $font-size-14px; //no standard
        padding: $font-size-24px; //no standard
        padding-left: $font-size-48px; //no standard
        border-top-left-radius: $font-size-48px;
        border-bottom-left-radius: $font-size-48px;

        @include laptop-lg {
            font-size: $font-size-13px;
            padding: $font-size-22px;
            padding-left: $font-size-40px;
            border-top-left-radius: $font-size-40px;
            border-bottom-left-radius: $font-size-40px;
        }

        @include laptop-md {
            font-size: $font-size-12px;
            padding: $font-size-18px;
            padding-left: $font-size-32px;
            border-top-left-radius: $font-size-32px;
            border-bottom-left-radius: $font-size-32px;
        }

        @include laptop-sm {
            font-size: $font-size-11px;
            padding: $font-size-14px;
            padding-left: $font-size-22px;
            border-top-left-radius: $font-size-28px;
            border-bottom-left-radius: $font-size-28px;
        }

        @include tablet {
            font-size: $font-size-10px;
            padding: $font-size-12px;
            padding-left: $font-size-18px;
            border-top-left-radius: $font-size-22px;
            border-bottom-left-radius: $font-size-22px;
        }

        @include mobile {
            font-size: $font-size-14px;
            padding: $font-size-14px;
            padding-left: $font-size-22px;
            margin-bottom: $font-size-14px;
            border-radius: $font-size-48px;
            width: $full-size;
        }

        &::placeholder {
            @include mobile {
                font-size: $font-size-12px;
            }
        }
    }

    &__button {
        @include flex(flex, row, center, center, nowrap);
        width: distance-percent(135px, 735px);
        border-top-right-radius: $font-size-48px;
        border-bottom-right-radius: $font-size-48px;

        @include laptop-lg {
            border-top-right-radius: $font-size-40px;
            border-bottom-right-radius: $font-size-40px;
        }

        @include laptop-md {
            border-top-right-radius: $font-size-32px;
            border-bottom-right-radius: $font-size-32px;
        }

        @include laptop-sm {
            border-top-right-radius: $font-size-28px;
            border-bottom-right-radius: $font-size-28px;
        }

        @include tablet {
            border-top-right-radius: $font-size-22px;
            border-bottom-right-radius: $font-size-22px;
        }

        @include mobile {
            border-radius: $font-size-48px;
            padding: $font-size-14px;
            width: $full-size;
        }

        background-color: $color-bubblegum;
        color: $color-white;
        cursor: pointer;

        &:hover, &:active {
            background-color: lighten($color-bubblegum, 10%);
        }

        &_icon {
            padding-right: $font-size-4px;
            font-size: $font-size-30px; //no standard

            @include laptop-lg {
                font-size: $font-size-26px;
            }

            @include laptop-md {
                font-size: $font-size-20px;
            }

            @include laptop-sm {
                font-size: $font-size-18px;
            }

            @include tablet {
                font-size: $font-size-14px;
            }

            @include mobile {
                font-size: $font-size-20px;
            }
        }

        &_text {
            @include laptop-lg {
                font-size: $font-size-14px;
            }

            @include laptop-md {
                font-size: $font-size-13px;
            }

            @include laptop-sm {
                font-size: $font-size-12px;
            }

            @include tablet {
                font-size: $font-size-11px;
            }

            @include mobile {
                font-size: $font-size-14px;
            }
        }
    }
}

.social {
    @include flex(flex, row, space-between, stretch, nowrap);
    width: distance-percent(235px, 1140px);

    @include mobile {
        width: distance-percent(400px, 1140px);
    }

    &__link {
        width: distance-percent(69px, 235px);

        &:hover {
            opacity: 0.7;
        }
    }

    &__image {
        width: 100%;
    }
}