//modified base slick styles
.slick {
    &-slide {
        margin: 0px 20px;
        transition: all ease-in-out .3s;
        opacity: 1;

        img {
            width: $full-size;
        }
    }

    &-prev {
        @include mobile {
            left: -20px;
        }

        &:before {
            color: $color-white;
            @extend %absolute-center-vertical;
            right: $full-size;
            font-size: $font-size-84px;

            @include laptop-lg {
                font-size: $font-size-64px;
            }

            @include laptop-md {
                font-size: $font-size-52px;
                right: 50%;
            }

            @include laptop-sm {
                font-size: $font-size-44px;
                right: 0;
            }

            @include tablet {
                font-size: $font-size-40px;
                right: -50%;
            }
        }
    }

    &-next {
        @include mobile {
            right: -20px;
        }

        &:before {
            color: $color-white;
            @extend %absolute-center-vertical;
            left: $full-size;
            font-size: $font-size-84px;

            @include laptop-lg {
                font-size: $font-size-64px;
            }

            @include laptop-md {
                font-size: $font-size-52px;
                left: 50%;
            }

            @include laptop-sm {
                font-size: $font-size-44px;
                left: 0;
            }

            @include tablet {
                font-size: $font-size-40px;
                left: -50%;
            }
        }
    }

    &-active {
        opacity: 1;
    }

    &-current {
        opacity: 1;
    }
}