//fonts
@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    src: url('../../assets/fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    src: url('../../assets/fonts/OpenSans-Bold.woff') format('woff');
}