// trip section

.trip {
    padding: 50px 50px 100px 50px;
    position: relative;

    @include laptop {
        padding: 50px 40px;
    }

    @include mobile {
        padding: 50px 15px;
    }

    &_wrapper {
        @include flex(flex, column, flex-start, center, nowrap);
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
    }

    &__title {
        font-size: 36px;
        margin: 0 0 75px;

        @include laptop {
            font-size: 30px;
            margin: 0 0 60px;
        }

        @include mobile {
            font-size: 36px;
            margin: 0 0 50px;
            text-align: center;
        }

        &_strikethrough {
            color: $color-text-grey;
            text-decoration: line-through;
        }
    }

    &__tab {}
}

.gallery {
    @include flex(flex, row, space-around, stretch, wrap);

    &__item {
        margin: 0 0 30px;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        flex-basis: 30%;
        transition-duration: 0.4s;

        @include laptop {
            flex-basis: 45%;
        }

        @include mobile {
            flex-basis: 100%;
            border-radius: 30px;
            &:last-child {
                margin: 0;
            }
        }

        &:hover .gallery_overlay {
            opacity: 1;
        }

        &:hover .gallery__image {
            transform: scale(1);
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 15px;
        opacity: 0.8;
        transform: scale(0.95);
        transition-duration: 0.4s;

        @include mobile {
            border-radius: 30px;
        }
    }

    &_overlay {
        @include flex(flex, column, space-around, flex-start, nowrap);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        padding: 15px;
        border-radius: 10px;
        background-color: rgba(208, 2, 27, 0.79);
        transition-duration: 0.4s;

        @include mobile {
            justify-content: center;
            align-items: center;
        }
    }

    &__title {
        font-size: 18px;
        color: #fff;

        @include laptop {
            font-size: 16px;
        }

        @include mobile {
            font-size: 18px;
            margin: 0 0 10px;
        }
    }

    &__horizontal {
        width: 20%;
        background: #fff;
        height: 1px;
        border: none;
        margin: 10px 0;
    }

    &__text {
        font-size: 12px;
        color: #fff;

        @include laptop {
            font-size: 11px;
        }

        @include mobile {
            font-size: 12px;
            margin: 0 0 15px;
            text-align: center;
        }
    }

    &__button {
        display: inline-block;
        background: #7b5ba8;
        padding: 7px 8px;
        border-radius: 10px;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 3px;

        @include laptop {
            font-size: 10px;
            letter-spacing: 2px;
        }

        @include mobile {
            font-size: 12px;
        }
    }
}

.tab {
    &_container {
        @include flex(flex, column, center, center, nowrap);
        position: relative;
        width: 100%;
        margin: 0 0 75px;

        @include laptop {
            margin: 0 0 60px;
        }

        @include mobile {
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.9);
            z-index: 1;
            height: 100%;
            position: fixed;
            margin: 0;
        }
    }

    &__image {
        width: 100%;
        border-radius: 50px;

        @include mobile {
            margin: 0 auto;
            padding: 0 20px;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__close {
        top: 30px;
        right: 30px;
        color: darken(#fff, 30%);
    }

    &__description {
        text-transform: uppercase;
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-size: 30px;
        color: darken(#fff, 20%);

        @include laptop {
            font-size: 26px;
        }
    }
}