.about {
	&_wrapper {
		@include flex(flex, column, center, center, nowrap);
		padding: 80px 75px;
		max-width: 1170px;
		width: 100%;
		@include laptop-lg {padding: 70px 60px;}
		@include laptop {padding: 65px 50px;}
		@include tablet {padding: 70px 45px;}
		@include mobile {padding: 60px 20px 40px;}
		margin: $margin-centered;
	}
	&__title {
		text-align: center;
		margin: 0 0 40px;
		font-size: $font-size-32px;
		@include laptop-lg {font-size: $font-size-30px; margin: 0 0 35px;}
		@include laptop {font-size: $font-size-28px; margin: 0 0 32px;}
		@include tablet {font-size: $font-size-36px; margin: 0 0 35px;}
		@include mobile {font-size: $font-size-28px; margin: 0 0 40px;}
	}
	&__text {
		margin: 0 0 65px;
		@include laptop-lg {font-size: $font-size-15px; margin: 0 0 60px;}
		@include laptop {font-size: $font-size-14px; margin: 0 0 55px;}
		@include tablet {font-size: $font-size-17px; margin: 0 0 60px;}
		@include mobile {font-size: $font-size-14px; margin: 0 0 40px; text-align: justify;}
	}
}

.heritage {
	@include flex(flex, row, flex-end, center, nowrap);
	width: 100%;
	position: relative;
	margin: 0 0 100px;
	@include laptop-lg {margin: 0 0 90px;}
	@include laptop {margin: 0 0 80px;}
	@include tablet {@include flex(flex, column, flex-end, center, nowrap); margin: 0 0 90px;}
	@include mobile {margin: 0 0 100px;}
	&-description {
		order: 1;
		width: 470px;
		@include laptop-lg {width: 440px;}
		@include laptop {width: 400px;}
		@include tablet {position: static; width: 100%;}
		box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
		position: absolute;
		left: 0;
		background-color: $color-white;
		&_wrapper {
			padding: 40px 0;
			width: 390px;
			@include laptop-lg {width: 370px; padding: 35px 0;}
			@include laptop {width: 340px; padding: 30px 0;}
			@include tablet {width: 90%; padding: 35px 0;}
			@include mobile {width: 100%; padding: 20px 15px;}
			margin: $margin-centered;
			&::before {
				content: '';
				display: block;
				width: 33px;
				height: 33px;
				top: 19px;
				left: 19px;
				@include laptop-lg {width: 30px; height: 30px; top: 17px; left: 17px;};
				@include laptop {width: 27px; height: 27px; top: 15px; left: 15px;};
				@include tablet {display: none;};
				border-top: 2px solid $color-yellow;
				border-left: 2px solid $color-yellow;
				position: absolute;
			}
			&::after {
				content: '';
				display: block;
				width: 33px;
				height: 33px;
				right: 19px;
				bottom: 19px;
				@include laptop-lg {width: 30px; height: 30px; right: 17px; bottom: 17px;};
				@include laptop {width: 27px; height: 27px; right: 15px; bottom: 15px;};
				@include tablet {display: none;};
				border-right: 2px solid $color-yellow;
				border-bottom: 2px solid $color-yellow;
				position: absolute;
			}
		}
		&__title {
			margin: 0 0 16px;
			font-size: $font-size-24px;
			@include laptop-lg {font-size: $font-size-22px; margin: 0 0 15px;}
			@include laptop {font-size: $font-size-20px; margin: 0 0 14px;}
			@include tablet {font-size: $font-size-24px; margin: 0 0 15px;}
			@include mobile {font-size: $font-size-24px; margin: 0 0 16px; text-align: center;}
		}
		&__text {
			@include laptop-lg {font-size: $font-size-15px;}
			@include laptop {font-size: $font-size-14px;}
			@include tablet {font-size: $font-size-17px;}
			@include mobile {font-size: $font-size-14px; text-align: justify;}
		}
	}
	&__image {
		display: block;
		width: 570px;
		@include laptop-lg {width: 530px;}
		@include laptop {width: 490px;}
		@include tablet {width: 100%; margin: 0 0 50px;}
	}
}

.beaches {
	@include flex(flex, row, flex-start, center, nowrap);
	width: 100%;
	position: relative;
	@include tablet {@include flex(flex, column, flex-end, center, nowrap);}
	&-description {
		width: 470px;
		@include laptop-lg {width: 440px;}
		@include laptop {width: 400px;}
		@include tablet {position: static; width: 100%;}
		box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
		position: absolute;
		right: 0;
		background-color: $color-white;
		&_wrapper {
			padding: 40px 0;
			width: 390px;
			@include laptop-lg {width: 370px; padding: 35px 0;}
			@include laptop {width: 340px; padding: 30px 0;}
			@include tablet {width: 90%; padding: 35px 0;}
			@include mobile {width: 100%; padding: 20px 15px;}
			margin: $margin-centered;
			&::before {
				content: '';
				display: block;
				width: 33px;
				height: 33px;
				left: 19px;
				bottom: 19px;
				@include laptop-lg {width: 30px; height: 30px; left: 17px; bottom: 17px;};
				@include laptop {width: 27px; height: 27px; left: 15px; bottom: 15px;};
				@include tablet {display: none;};
				border-left: 2px solid $color-yellow;
				border-bottom: 2px solid $color-yellow;
				position: absolute;
			}
			&::after {
				content: '';
				display: block;
				width: 33px;
				height: 33px;
				top: 19px;
				right: 19px;
				@include laptop-lg {width: 30px; height: 30px; top: 17px; right: 17px;};
				@include laptop {width: 27px; height: 27px; top: 15px; right: 15px;};
				@include tablet {display: none;};
				border-top: 2px solid $color-yellow;
				border-right: 2px solid $color-yellow;
				position: absolute;
			}
		}
		&__title {
			margin: 0 0 16px;
			font-size: $font-size-24px;
			@include laptop-lg {font-size: $font-size-22px; margin: 0 0 15px;}
			@include laptop {font-size: $font-size-20px; margin: 0 0 14px;}
			@include tablet {font-size: $font-size-24px; margin: 0 0 15px;}
			@include mobile {font-size: $font-size-24px; margin: 0 0 16px; text-align: center;}
		}
		&__text {
			@include laptop-lg {font-size: $font-size-15px;}
			@include laptop {font-size: $font-size-14px;}
			@include tablet {font-size: $font-size-17px;}
			@include mobile {font-size: $font-size-14px; text-align: justify;}
		}
	}
	&__image {
		display: block;
		width: 570px;
		@include laptop-lg {width: 530px;}
		@include laptop {width: 490px;}
		@include tablet {width: 100%; margin: 0 0 50px;}
	}
}