.photos {
	&_wrapper {
		@include flex(flex, column, center, center, nowrap);
		padding: 80px 75px 100px;
		max-width: 1170px;
		width: 100%;
		@include laptop-lg {padding: 70px 60px;}
		@include laptop {padding: 65px 50px;}
		@include tablet {padding: 70px 45px;}
		@include mobile {padding: 60px 20px 40px;}
		margin: $margin-centered;
	}
	&__title {
		text-align: center;
		margin: 0 0 40px;
		font-size: $font-size-32px;
		@include laptop-lg {font-size: $font-size-30px; margin: 0 0 35px;}
		@include laptop {font-size: $font-size-28px; margin: 0 0 32px;}
		@include tablet {font-size: $font-size-36px; margin: 0 0 35px;}
		@include mobile {font-size: $font-size-28px; margin: 0 0 40px;}
	}
	&__text {
		margin: 0 0 50px;
		@include laptop-lg {font-size: $font-size-15px; margin: 0 0 45px;}
		@include laptop {font-size: $font-size-14px; margin: 0 0 40px;}
		@include tablet {font-size: $font-size-17px; margin: 0 0 45px;}
		@include mobile {font-size: $font-size-14px; margin: 0 0 30px; text-align: justify;}
	}
	&__horizontal {
		width: 270px;
		margin: 0 0 55px;
		@include laptop-lg {width: 240px; margin: 0 0 50px;}
		@include laptop {width: 210px; margin: 0 0 45px;}
		@include tablet {width: 180px; margin: 0 0 50px;}
		@include mobile {width: 150px; margin: 0 0 25px;}
		height: 1px;
		background: $color-divider;
		border: none;
	}
	&__slider {
		@include mobile {@include flex(flex, row, center, center, nowrap);}
		&_container {
			width: 100%;
			position: relative;
		}
	}
	&__buttons {
		@include flex(flex, row, space-evenly, center, nowrap);
		position: absolute;
		width: 100%;
		top: 50%;
        @include mobile {@include flex(flex, row, space-between, center, nowrap);}
	}
	&__prev, &__next {
		position: relative;
		&:before {
			@include flex(flex, row, center, center, nowrap);
            font-family: FontAwesome;
            background: $color-yellow;
            color: #fff;
            width: 40px;
            height: 40px;
            @include laptop-lg {width: 36px; height: 36px;}
            @include laptop {width: 32px; height: 32px;}
            @include tablet {width: 38px; height: 38px; font-size: $font-size-26px;}
            @include mobile {width: 32px; height: 32px; font-size: $font-size-20px;}
            border-radius: 50%;
            opacity: 1;
            @extend %absolute-center-vertical;
            z-index: 10;
		}
	}
	&__prev {
		left: -40px;
		@include laptop-lg {left: -36px;}
        @include laptop {left: -32px;}
        @include tablet {left: -68px;}
        @include mobile {left: -15px;}
		&:before {
			content: "\f060";
		}
	}
	&__next {
		right: 0;
		@include laptop-lg {right: 0;}
        @include laptop {right: 0;}
        @include tablet {right: -30px;}
        @include mobile {right: 17px;}
		&:before {
			content: "\f061";
		}
	}
}