.preferences {
	&_wrapper {
		@include flex(flex, column, center, center, nowrap);
		padding: 80px 75px;
		max-width: 1170px;
		width: 100%;
		@include laptop-lg {padding: 70px 60px;}
		@include laptop {padding: 65px 50px;}
		@include tablet {padding: 70px 45px;}
		@include mobile {padding: 60px 20px 40px;}
		margin: $margin-centered;
		border-bottom: 1px solid $color-divider;
	}
	&__title {
		text-align: center;
		margin: 0 0 40px;
		font-size: $font-size-32px;
		@include laptop-lg {font-size: $font-size-30px; margin: 0 0 35px;}
		@include laptop {font-size: $font-size-28px; margin: 0 0 32px;}
		@include tablet {font-size: $font-size-36px; margin: 0 0 35px;}
		@include mobile {font-size: $font-size-28px; margin: 0 0 40px;}
	}
	&__text {
		margin: 0 0 60px;
		@include laptop-lg {font-size: $font-size-15px; margin: 0 0 55px;}
		@include laptop {font-size: $font-size-14px; margin: 0 0 50px;}
		@include tablet {font-size: $font-size-17px; margin: 0 0 55px;}
		@include mobile {font-size: $font-size-14px; margin: 0 0 40px; text-align: justify;}
	}
	&__list {
		@include flex(flex, row, space-between, stretch, wrap);
		width: 75%;
	}
	&__item {
		@include flex(flex, column, space-between, center, nowrap);
		width: 25%;
		@include tablet {width: 50%; margin: 0 0 60px; &:nth-last-child(2) {margin: 0;}; &:last-child {margin: 0;}}
		@include mobile {width: 100%; margin: 0 0 40px; &:nth-last-child(2) {margin: 0 0 40px;}; &:last-child {margin: 0;}}
	}
	&__icon {
		width: 100%;
		&_container {
			@include flex(flex, column, space-between, center, nowrap);
			width: 90px;
			padding: 0 0 30px;
			@include laptop-lg {width: 85px; padding: 0 0 27px;}
			@include laptop {width: 80px; padding: 0 0 24px;}
			@include tablet {width: 100px; padding: 0 0 27px;}
			@include mobile {padding: 0 0 15px;}
		}
	}
	&__designation {
		font-size: $font-size-14px;
		@include laptop-lg {font-size: $font-size-14px;}
		@include laptop {font-size: $font-size-13px;}
		@include tablet {font-size: $font-size-16px;}
		color: $color-text-grey;
		&_container{
			@include flex(flex, column, space-between, center, nowrap);
		}
	}
	&__quantity {
		font-size: $font-size-22px;
		@include laptop-lg {font-size: $font-size-20px;}
		@include laptop {font-size: $font-size-18px;}
		@include tablet {font-size: $font-size-22px;}
		@include mobile {font-size: $font-size-18px;}
		color: $color-text-dark;
	}
}