//fonts
@font-face {
    font-family: 'AvenirNext-Regular';
    font-weight: 400;
    src: url('../../assets/fonts/Avenir Next Regular/AvenirNextCyr-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Georgia-Regular';
    font-weight: 400;
    src: url('../../assets/fonts/Georgia Regular/Georgia.woff2') format('woff2');
}

@font-face {
    font-family: 'Georgia-Bold';
    font-weight: 700;
    src: url('../../assets/fonts/Georgia Bold/Georgia Bold V2.woff2') format('woff2');
}