.footer {
	background: $color-background-grey;
	border-top: 1px solid $color-divider;
	&_wrapper {
		@include flex(flex, column, flex-start, center, nowrap);
		max-width: 1170px;
		width: 100%;
		padding: 55px 75px 35px;
		@include laptop-lg {padding: 50px 60px 32px;}
		@include laptop {padding: 45px 50px 29px;}
		@include tablet {padding: 50px 45px 32px;}
		@include mobile {padding: 55px 20px 35px;}
		margin: $margin-centered;
	}
	&__main {
		@include flex(flex, row, space-between, stretch, nowrap);
		width: 100%;
		margin: 0 0 40px;
		@include laptop-lg {margin: 0 0 35px;}
		@include laptop {margin: 0 0 32px;}
		@include tablet {@include flex(flex, column, space-between, center, nowrap); margin: 0 0 50px;}
		@include tablet {margin: 0 0 60px;}
	}
	&__agency {
		@include flex(flex, column, flex-start, center, nowrap);
		width: 20%;
		@include tablet {width: 100%; margin: 0 0 40px;}
		@include mobile {width: 100%; margin: 0 0 60px;}
	}
	&__copyright {
		font-family: 'AvenirNext-Regular', serif;
		color: $color-text;
		font-size: $font-size-14px;
		@include laptop-lg {font-size: $font-size-14px;}
		@include laptop {font-size: $font-size-13px;}
		@include tablet {font-size: $font-size-15px;}
		@include mobile {font-size: $font-size-14px;}
	}
}

.agency {
	&__logo {
		display: block;
		font-family: 'AvenirNext-Regular', serif;
		font-weight: 600;
		color: #37c491;
		font-size: $font-size-34px;
		@include laptop-lg {font-size: $font-size-32px;}
		@include laptop {font-size: $font-size-30px;}
		@include tablet {font-size: $font-size-40px;}
		@include mobile {font-size: $font-size-36px;}
		&:hover {
			color: lighten(#37c491, 20%);
		}
	}
	&__currency {

	}
}

.full-navigation {
	&__list {
		@include flex(flex, row, space-between, stretch, wrap);
		max-width: 970px;
		width: 80%;
		@include tablet {width: 90%;}
	}
	&__item {
		@include flex(flex, column, flex-start, stretch, nowrap);
		@include tablet {width: 50%; margin: 0 0 60px; &:nth-last-child(2) {margin: 0;}; &:last-child {margin: 0;}}
		@include mobile {width: 100%; 
			margin: 0 0 60px; 
			&:nth-last-child(2) {
				margin: 0 0 60px;}; 
				&:last-child {margin: 0;} 
				@include flex(flex, column, flex-start, center, nowrap);}
	}
}

.additional-navigation {
	&__title {
		display: inline-block;
		color: $color-text-dark;
		font-weight: 600;
		text-transform: uppercase;
		font-size: $font-size-15px;
		margin: 0 0 20px;
		@include laptop-lg {font-size: $font-size-15px; margin: 0 0 18px;}
		@include laptop {font-size: $font-size-14px; margin: 0 0 16px;}
		@include tablet {font-size: $font-size-17px; margin: 0 0 18px;}
		@include mobile {font-size: $font-size-16px; margin: 0 0 20px;}
		&:hover {
			color: $color-yellow;
		}
	}
	&__list {
		@include flex (flex, column, flex-start, stretch, nowrap);
		@include mobile {@include flex (flex, column, flex-start, center, nowrap);}
	}
	&__item {
		@include flex (flex, row, flex-start, stretch, nowrap);
		margin: 0 0 8px;
		&:last-child {
			margin: 0;
		}
	}
	&__link {
		font-size: $font-size-14px;
		@include laptop-lg {font-size: $font-size-14px;}
		@include laptop {font-size: $font-size-13px;}
		@include tablet {font-size: $font-size-15px;}
		@include mobile {font-size: $font-size-14px; text-align: center;}
		color: $color-text;
		&:hover {
			color: $color-yellow;
		}
	}
	&__icon {
		width: 16px;
		text-align: center;
		margin: 0 12px 0 0;
	}
}

.company-info, .discover-info {
	@include mobile {@include flex (flex, column, space-between, stretch, nowrap); margin: 0 !important; }
	&__title {
		@include mobile {color: lighten($color-text-dark, 5%); font-size: $font-size-15px; margin: 15px 0 0; padding: 6px 0;}
		&:hover {
			@include mobile {color: darken($color-yellow, 30%); background: darken($color-white, 10%)}
		}
	}
	&__list {
		@include mobile {width: 100%; margin: 0; @include flex (flex, column, space-between, stretch, nowrap);}
	}
	&__item {
		@include mobile {margin: 0; @include flex (flex, column, center, stretch, nowrap);}
	}
	&__link {
		@include mobile {
			display: block;
			color: darken($color-text-grey, 30%);
			font-size: $font-size-13px;
			font-weight: 600;
			padding: 6px 0;}
		&:hover {
			@include mobile {color: $color-text-dark; background: darken($color-white, 10%)}
		}
	}
}