//fonts

@font-face {
    font-family: 'Arial-Regular';
    font-weight: 400;
    src: url('../../assets/fonts/Arial/ArialRegular/ArialRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'Arial-Italic';
    font-weight: 400;
    src: url('../../assets/fonts/Arial/ArialItalic/ArialItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Arial-Bold';
    font-weight: 700;
    src: url('../../assets/fonts/Arial/ArialBold/ArialBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Born';
    font-weight: 400;
    src: url('../../assets/fonts/Born/born.woff2') format('woff2');
}